@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root{
    --image-height: 100vh;
    --image-width: 35vw;
    --form-width: 65vw;
    --form-head-foot-height: 32.5vh;
    --form-body-height: 35vh;
    --form-margin-left: 40px;
    --font: 'Times New Roman', Times, serif;
    --secondary-background-color: rgb(241, 239, 239);
    --main-background-color: rgb(255, 255, 255);
    --form-margin-bottom: 10px;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: var(--font);
}

.logo{
    font-family: 'norsebold';
}

img{
    height: var(--image-height);
    width: var(--image-width);
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: var(--image-height);
}

footer,
header{
    height: var(--form-head-foot-height);
    width: var(--form-width);
    background-color: var(--secondary-background-color);

}

footer{
    z-index: 0;
}
header{
    position: relative;
   
}
header p{
    font-weight: 500px;
    position: absolute; 
    bottom: 10px; 
    left: var(--form-margin-left);
    font-size: 1.5rem;
}

main{
    height: var(--form-body-height);
    width: var(--form-width);
    background-color: var(--main-background-color);
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1
   
}

h2{
   margin-left: 40px; 
   margin-bottom: var(--form-margin-bottom);
}

main ul{
    display: flex;
    list-style: none;
}

li{
    margin-right: 30px;
    margin-bottom: var(--form-margin-bottom);
}

li > label {
    display: block;
}

li > input{
    height: 25px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #E5E7Eb;
    outline: none;
}

input:focus{
    border: 1px solid rgb(33, 33, 247);
}

.password input:invalid{
    border: 1px solid rgb(236, 12, 23);
}

button{
    margin-left: var(--form-margin-left);
    background-color: #596D48;
    color: white;
    cursor: pointer;
    height: 50px;
    width: 200px;
    border-radius: 10px;
    font-family: var(--font);
    font-size: 16px;
    font-weight: 600;
}
