@font-face {
    font-family: 'norsebold';
    src: url('fonts/norse-bold-webfont.woff2') format('woff2'),
         url('fonts/norse-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


:root{
    --image-height: 100vh;
    --image-width: 35vw;
    --form-width: 65vw;
    --form-head-foot-height: 32.5vh;
    --form-body-height: 35vh;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    font-family: 'Times New Roman', Times, serif
}

.logo{
    font-family: 'norsebold';
}

img{
    height: var(--image-height);
    width: var(--image-width);
}

.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer,
header{
    height: var(--form-head-foot-height);
    width: var(--form-width);
    background-color: rgb(241, 239, 239);

}

footer{
    z-index: 0;
}
header{
    position: relative;
   
}
header p{
    position: absolute; 
    bottom: 10px; 
    left: 50px;
    font-size: 1.5rem;
}

main{
    height: var(--form-body-height);
    width: var(--form-width);
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1
   
}

main ul{
    display: flex;
    list-style: none;
}

li{
    margin-right: 30px;
}

li > label {
    display: block;
}
